<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="end" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tutorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-icon class="icono" name="qr-code-outline"></ion-icon>
  <p class="parrafo">◉ Ingresa al menú en la sección "GENERAR QR".</p>
  <p class="parrafo">◉ Presiona el botón "GENERAR QR".</p>
  <p class="parrafo">◉ Esperar que se genere el QR.</p>
  <p class="parrafo">◉ Una vez generado el QR puede presentarlo a sus alumnos mediante el proyector.</p>
</ion-content>
