<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="start" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-icon class="icono" name="logo-octocat"></ion-icon>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Yo soy</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label> {{Nombre}}</ion-label>
      <br>
      <br>
      <ion-label>Email: {{Email}}</ion-label>
      <br>
      <br>
      <ion-label>Sexo: {{Sexo}}</ion-label>
      <br>
      <br>
      <ion-label>Sede: {{Sede}}</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-button class="boton" color="danger" (click)="CerrarSesion()" expand="block" fill="solid" shape="round" routerLink="/inicio-sesion" type="submit">
    Cerrar sesión
  </ion-button>
</ion-content>
