.icono {
    font-size: 140px;
    margin-top: 40px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.boton {
    background-color: #488aff; 
    border-radius: 45px; 
    color: white;
}

.texto {    
    padding: 15px;
    font-size: 15px;
}