<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ingresa la nueva contraseña 2 veces para verificar</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
  <form #formulario="ngForm" (ngSubmit) ="onSubmit()">
    <ion-item>
      <ion-label>Contraseña: </ion-label>
      <ion-input type="password" placeholder="Contraseña"
                 name="contra" minlength="6" required>
      </ion-input>
    </ion-item>
  <!------------------------------------------------------------------------------------------->
  <ion-item>
    <ion-label>Repetir Contraseña: </ion-label>
    <ion-input type="password" placeholder="Contraseña"
               name="contra2"  minlength="6" required >
    </ion-input>
  </ion-item>  
    <ion-button class="boton" [disabled] ="formulario.invalid" (click)="RestablecerContra()"
              type="submit" expand="block" fill="clear" shape="round" routerLink="/inicio-sesion">
        Restablecer
  </ion-button>
  </form>
</ion-card-content>
</ion-card>
</ion-content>
