<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="end" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tutorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-icon class="icono" name="qr-code-outline"></ion-icon>
  <p class="parrafo">◉ Ingresa al menú en la sección de "ESCANEAR QR".</p>
  <p class="parrafo">◉ Presiona en el botón "ESCANEAR".</p>
  <p class="parrafo">◉ Permite el acceso de uso de camara en la aplicación" (Ignorar este paso si ya lo has habilitado).</p>
  <p class="parrafo">◉ Apunte con la camara en dirección al codigo QR proyectado por su profesor.</p>
  <p class="parrafo">◉ Una vez escaneado correctamente el codigo QR saldrá una notificación con el resultado del escaneo.</p>
</ion-content>
