<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="end" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Feriados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

  <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
            *ngFor="let f of feriados">
  
            <ion-card class="cards">
              <ion-card-header>
                  <ion-card-title style="color: white;">{{f.title}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>
                  {{f.date}}
                </p>
                <p>{{f.extra}}</p>
              </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  
  </ion-content>