<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ingresa el codigo que se mandó a tu correo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form #formulario="ngForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label>Código: </ion-label>
          <ion-input type="number" minlength="4" maxlength="6" placeholder="Codigo" required name="codigo" [(ngModel)]="codigo.code" ></ion-input>
        </ion-item>
        <ion-button class="boton" [disabled] ="formulario.invalid"
        type="submit" expand="block" fill="clear" shape="round" routerLink="/restablecer-password3">
        Verificar
</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
