<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="end" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-icon class="icono" name="logo-reddit"></ion-icon>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Yo soy </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>{{Nombre}}</ion-label>
      <br>
      <br>
      <ion-label>Email: {{Email}}</ion-label>
      <br>
      <br>
      <ion-label>Sexo: {{Sexo}}</ion-label>
      <br>
      <br>
      <ion-label>Sede: {{Sede}}</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-button class="boton" (click)="CerrarSesion()" expand="block" fill="outline" shape="round" routerLink="/inicio-sesion" type="submit">
    Cerrar sesión
  </ion-button>
</ion-content>