<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Volver"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Ingresa tu correo</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
  <form #formulario="ngForm" (ngSubmit) ="onSubmit()">
    
    <ion-item >
      <ion-label>Email: </ion-label>
      <ion-input type="email" placeholder="Ingresa tu email"
                name="correo" [(ngModel)]="password.email"
                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required>
      </ion-input>
    </ion-item>
    <ion-button class="boton" [disabled] ="formulario.invalid"
              type="submit" color="primary" expand="block" fill="solid" shape="round" routerLink="/restablecer-password2">
        Restablecer
  </ion-button>
  </form>
</ion-card-content>
</ion-card>
</ion-content>  
